<div  class="row">

   <a href="/">
   <iframe style=" display: block;
  margin-left: auto;
  margin-right: auto;" src="https://giphy.com/embed/8L0Pky6C83SzkzU55a" 
  width="480" height="480" frameBorder="0" 
  class="giphy-embed" allowFullScreen></iframe>
</a>
   <a href="/"> <small>Sorry information not found.</small></a>
</div>